%li.dropdown
  %a.dropdown-toggle.btn.btn-info{"data-toggle" => "dropdown", :href => "#"}
    = t('add_cam')
    %b.caret
  %ul.dropdown-menu.links
    - case @device.i_type
    - when 0
      %li= link_to_add_association '添加地址', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '开关'; cam.i_type = 0; cam.control_type = 0; cam }
    - when 1
      %li= link_to_add_association '开关', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '开关'; cam.i_type = 10; cam.control_type = 0; cam }
    - when 2
      %li= link_to_add_association '开关', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '开关'; cam.i_type = 20; cam.control_type = 0; cam }
      %li.divider
      %li= link_to_add_association '调光', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '调光'; cam.i_type = 21; cam.control_type = 1; cam }
    - when 3
      %li= link_to_add_association '打开', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '打开'; cam.i_type = 30; cam.control_type = 0; cam }
      %li= link_to_add_association '关闭', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '关闭'; cam.i_type = 31; cam.control_type = 0; cam }
      %li= link_to_add_association '上升', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '上升'; cam.i_type = 32; cam.control_type = 0; cam }
      %li= link_to_add_association '下降', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '下降'; cam.i_type = 33; cam.control_type = 0; cam }
      %li= link_to_add_association '停止', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '停止'; cam.i_type = 34; cam.control_type = 0; cam }
    - when 4
      %li= link_to_add_association '开关', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '开关'; cam.i_type = 40; cam.control_type = 0; cam }
      %li= link_to_add_association '调温', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '调温'; cam.i_type = 41; cam.control_type = 2; cam }
      %li= link_to_add_association '制热', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '制热'; cam.i_type = 42; cam.control_type = 1; cam }
      %li= link_to_add_association '制冷', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '制冷'; cam.i_type = 43; cam.control_type = 1; cam }
      %li= link_to_add_association '通风', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '通风'; cam.i_type = 44; cam.control_type = 1; cam }
      %li= link_to_add_association '除湿', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '除湿'; cam.i_type = 45; cam.control_type = 1; cam }
      %li= link_to_add_association '微风', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '微风'; cam.i_type = 72; cam.control_type = 1; cam }
      %li= link_to_add_association '低风', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '低风'; cam.i_type = 73; cam.control_type = 1; cam }
      %li= link_to_add_association '中风', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '中风'; cam.i_type = 74; cam.control_type = 1; cam }
      %li= link_to_add_association '高风', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '高风'; cam.i_type = 75; cam.control_type = 1; cam }
      %li= link_to_add_association '低风', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '低风'; cam.i_type = 76; cam.control_type = 1; cam }
    - when 5
      %li= link_to_add_association '开关', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '开关'; cam.i_type = 50; cam.control_type = 0; cam }
      %li= link_to_add_association '调温', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '调温'; cam.i_type = 51; cam.control_type = 2; cam }
    - when 6
      %li= link_to_add_association '开关', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '开关'; cam.i_type = 60; cam.control_type = 0; cam }
      %li= link_to_add_association '低速', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '低速'; cam.i_type = 61; cam.control_type = 1; cam }
      %li= link_to_add_association '中速', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '中速'; cam.i_type = 62; cam.control_type = 1; cam }
      %li= link_to_add_association '高速', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '高速'; cam.i_type = 63; cam.control_type = 1; cam }
    - when 7
      %li= link_to_add_association '自定义', f, :cams, data: {"association-insertion-method" => :append, "association-insertion-node" => "#cams" }, wrap_object: Proc.new { |cam| cam.name = '自定义'; cam.i_type = 80; cam.control_type = 0; cam }