.nested-fields.row
  .col-md-3
    = f.input :name, placeholder: "名称", class: 'form-control'
  .col-md-2
    = f.input :control_address, placeholder: "控制地址", class: 'form-control', disabled: f.object.disableControlAddressChange
  .col-md-2
    = f.input :status_address, placeholder: "反馈地址", class: 'form-control', disabled: f.object.disableStatusAddressChange
  .col-md-2
    = f.input :control_type, collection: [['1bit', 0], ['1byte', 1], ['2byte', 2]]

  = f.hidden_field :i_type, value: f.object.i_type
  = f.hidden_field :status_value, value: f.object.status_value
  = f.hidden_field :min_control_value, value: f.object.min_control_value
  = f.hidden_field :max_control_value, value: f.object.max_control_value
  = f.hidden_field :min_status_value, value: f.object.min_status_value
  = f.hidden_field :max_status_value, value: f.object.max_status_value
  .col-md-2
    = f.input :control_value, placeholder: "控制值", label: "值", disabled: f.object.disableControlValueChange
  .col-md-1
    = link_to_remove_association f, class:'btn btn-danger', data: {confirm: "确定删除 #{f.object.name} 控件?"} do
      %i X
