<div class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <%= f.label f.object.name%>
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="input-group">
            <%= f.label '控制地址', class: 'input-group-addon'%>
            <%= f.text_field :control_address, placeholder: "控制地址", class: 'form-control' %>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <%= f.label '反馈地址', class: 'input-group-addon'%>
            <%= f.text_field :status_address, placeholder: "反馈地址", class: 'form-control', disabled: f.object.i_type==0%>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <%= f.label '控制类型', class: 'input-group-addon'%>
            <%= f.select(:control_type, [['1bit', 0], ['1byte', 1], ['2byte', 2]], {}, {class: 'form-control'}) %>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <%= f.label '控制数值', class: 'input-group-addon'%>
            <%= f.text_field :control_value, placeholder: "控制值" , class: 'form-control'%>
        </div>
    </div>
</div>
<br>