<tr>
  <td><%= device.name %></td>
  <td><%= image_tag("le_icons/mode_icon/mode_#{device.image_name}_sel.png", size: "48x48", alt: "Device Image")%></td>
  <td>
    <% device.cams.each do |cam|%>
      <p class='cam_detail'><%= cam.name%>
          控制地址：<%= cam.control_address%>
          反馈地址：<%= cam.status_address%>
          控制类型：<%= cam.control_type%>
          控制数值：<%= cam.control_value%></p>
    <% end %>
  </td>
  <td><%= link_to '编辑控件', building_floor_area_device_path(device.area.floor.building, device.area.floor, device.area, device), class: 'btn btn-primary' %>
      <%= link_to '编辑设备', edit_building_floor_area_device_path(device.area.floor.building, device.area.floor, device.area, device), class: 'btn btn-warning' %>
      <%= link_to '删除', [device.area.floor.building, device.area.floor, device.area, device], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
</tr>