<ol class="breadcrumb">
  <li><%= link_to '我的所有项目', buildings_path %></li>
  <li><%= link_to @device.area.floor.building.name+'('+@device.area.floor.building.socket_address+')', building_path(@device.area.floor.building) %></li>
  <li><%= link_to @device.area.floor.name, building_floor_path(@device.area.floor.building, @device.area.floor) %></li>
  <li><%= link_to @device.area.name, building_floor_area_path(@device.area.floor.building, @device.area.floor, @device.area) %></li>
  <li class="active"><%= @device.name%></li>
</ol>

<p>
  <strong>设备名称:</strong>
  <%= @device.name %>
</p>
 
<p>
  <strong>设备图片:</strong>
  <%= @device.image_name %>
</p>

<p>
  <strong>设备类型:</strong>
  <%= @device.i_type %>
</p>


<h2>所有控件</h2>
<table>
  <tr>
    <th>名称</th>
    <th>图片</th>
    <th>类型</th>
    <th colspan="2"></th>
  </tr>
  <%= render @device.cams %>
</table>
