<ol class="breadcrumb">
  <li><%= link_to '我的所有项目', buildings_path %></li>
  <li><%= link_to @device.area.floor.building.name+'('+@device.area.floor.building.socket_address+')', building_path(@device.area.floor.building) %></li>
  <li><%= link_to @device.area.floor.name, building_floor_path(@device.area.floor.building, @device.area.floor) %></li>
  <li><%= link_to @device.area.name, building_floor_area_path(@device.area.floor.building, @device.area.floor, @device.area) %></li>
  <li class="active"><%= @device.name%></li>
</ol>

<h2>所有控件</h2>
<%= render @device.cams %>
