<p>
  <strong>设备名称:</strong>
  <%= @device.name %>
</p>
 
<p>
  <strong>设备图片:</strong>
  <%= @device.image_name %>
</p>

<p>
  <strong>设备类型:</strong>
  <%= @device.i_type %>
</p>

<%= link_to 'Back to Area', building_floor_area_path(@device.area.floor.building, @device.area.floor, @device.area) %>


<h2>所有控件</h2>
<table>
  <tr>
    <th>名称</th>
    <th>图片</th>
    <th>类型</th>
    <th colspan="2"></th>
  </tr>
  <%= render @device.cams %>
</table>
