<div class="col-sm-6 col-md-4">
  <div class="thumbnail building">
    <%= image_tag("LeControl.png", size: "72*72", alt: "Building Image")%>
    <div class="caption">
      <h3><%= building.name %></h3>
      <p><%= building.socket_address %></p>
      <div class="list_group">
          <%= link_to '详情', building_path(building), class: 'btn btn-primary' %>
          <%= link_to '编辑', edit_building_path(building), class: 'btn btn-warning' %>
          <%= link_to '删除', building_path(building), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%>
      </div>
    </div>
  </div>
</div>