%ol.breadcrumb
  %li= link_to '我的所有项目', buildings_path
  %li.active
    = succeed '**' do
      = @building.name
    = succeed ' **' do
      = @building.socket_address
  = link_to '新建楼层', new_building_floor_path(@building), class: 'btn btn-info'

- @building.floors.each do |floor|
  .panel.panel-default
    .panel-heading.clearfix{:id => "heading_#{floor.id}", :role => "tab"}
      .panel-title.pull-left
        %a{"aria-expanded": "true", "data-toggle": "collapse", "aria-controls": "collapse_#{floor.id}",href: "#collapse_#{floor.id}"}
          = floor.name
          %i.caret
        %small
          \-->房间数量:
          = floor.areas.count
      .btn-group
        = link_to '新建房间', new_building_floor_area_path(floor.building, floor), class: 'btn btn-info'
      .btn-group.pull-right
        = link_to '编辑楼层', edit_building_floor_path(floor.building, floor), class: 'btn btn-warning'
        = link_to '删除楼层', [floor.building, floor], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
        = link_to building_floor_move_higher_path(floor.building, floor), method: :put, class: 'btn btn-success', disabled: floor.first? do
          %i.glyphicon.glyphicon-triangle-top
        = link_to building_floor_move_lower_path(floor.building, floor), method: :put, class: 'btn btn-success', disabled: floor.last? do
          %i.glyphicon.glyphicon-triangle-bottom

    .panel-collapse.collapse.in{id: "collapse_#{floor.id}"}
      .panel-body
        %table.table.table-bordered.table-hover
          %tbody
            - floor.areas.each do |area|
              = render partial: 'areas/area', locals: {area: area}
