<ol class="breadcrumb">
  <li><%= link_to '我的所有项目', buildings_path %></li>
  <li class="active"><%=  @building.name%>(<%= @building.socket_address %>)</li>
  <%= link_to '新建楼层', new_building_floor_path(@building), class: 'btn btn-info'  %>
</ol>

<table class="table table-striped">
  <tr>
    <th>楼层名称</th>
    <th>楼层图标</th>
    <th>操作</th>
  </tr>
  <%= render @building.floors %>
</table>
