<%= form_for([@building, @building.floors.build]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label '楼层名称'%>
    <%= f.text_field :name, placeholder: "楼层的名字." %>
  </div>
  <div class="field">
    <%= f.label '楼层图片'%>
    <%= f.text_field :image_name, placeholder: "楼层图片" %>
  </div>
  <%= f.submit "确定", class: "btn btn-primary" %>
<% end %>