= render 'shared/error_messages', object: f.object
.form-group
  = f.label '楼层名称'
  = f.text_field :name, placeholder: "楼层的名字.", class: 'form-control'
= f.submit "确定", class: "btn btn-primary btn-block"
= link_to '返回', building_path(@floor.building), class: "btn btn-default btn-block"
