<tr>
  <td><%= area.name %></td>
  <td><%= image_tag("le_icons/room_icon/#{area.image_name}_room.png", size: "36x36", alt: "Area Image", class:"area_image")%></td>
  <td> 
      <%= link_to '详情', building_floor_area_path(area.floor.building, area.floor, area), class: 'btn btn-primary' %>
      <%= link_to '编辑', edit_building_floor_area_path(area.floor.building, area.floor, area), class: 'btn btn-warning' %>
      <%= link_to '删除', [area.floor.building, area.floor, area], method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger'%>
  </td>
</tr>