= simple_form_for([@building, @floor, @area]) do |f|
  = f.input :name
  = f.collection_radio_buttons(:image_name, Area::DefaultAreaImages, :first, :last, item_wrapper_tag: :span) do |b|
    = b.label { b.radio_button+image_tag("le_icons/room_icon/#{b.value}_room.png", size: '48x48',class: "area_image ") }
  = f.button :submit, class: "btn-primary btn-block"
