%ol.breadcrumb
  %li= link_to '我的所有项目', buildings_path
  %li= link_to @area.floor.building.name+'('+@area.floor.building.socket_address+')', building_path(@area.floor.building)
  %li.active
    = @area.floor.name
    \-&gt;
    = @area.name
  %li.dropdown
    %a.dropdown-toggle.btn.btn-info{"data-toggle": "dropdown", href: "#"}
      新建设备
      %b.caret
    %ul.dropdown-menu
      %li= link_to '场景', new_building_floor_area_device_path(@area.floor.building, @area.floor, @area, i_type: 0)
      %li.divider
      %li= link_to '灯光', new_building_floor_area_device_path(@area.floor.building, @area.floor, @area, i_type: 2)
      %li.divider
      %li= link_to '窗帘', new_building_floor_area_device_path(@area.floor.building, @area.floor, @area, i_type: 3)
      %li.divider
      %li= link_to '空调', new_building_floor_area_device_path(@area.floor.building, @area.floor, @area, i_type: 4)
      %li= link_to '地热', new_building_floor_area_device_path(@area.floor.building, @area.floor, @area, i_type: 5)
      %li= link_to '新风', new_building_floor_area_device_path(@area.floor.building, @area.floor, @area, i_type: 6)
      -# %li.divider
      -# %li= link_to '自定义', new_building_floor_area_device_path(@area.floor.building, @area.floor, @area, :i_type => 7)
%div
  / Nav tabs
  %ul.nav.nav-tabs
    %li
      %a{"data-toggle": "tab", href: "#device-scene", "aria-controls": "#device-scene"}
        场景
        %span.badge= device_with_type(@area, [0]).count
    %li
      %a{"data-toggle": "tab", href: "#device-light", "aria-controls": "#device-light"}
        灯光
        %span.badge= device_with_type(@area, [2]).count
    %li
      %a{"data-toggle": "tab", href: "#device-curtain", "aria-controls": "#device-curtain"}
        窗帘
        %span.badge= device_with_type(@area, [3]).count
    %li
      %a{"data-toggle": "tab", href: "#device-temp", "aria-controls": "#device-temp"}
        温度
        %span.badge= device_with_type(@area, [4,5,6]).count
  %br/
  / Tab panes
  #device-tabs
    .tab-content
      #device-scene.tab-pane
        = render device_with_type(@area, [0])
      #device-light.tab-pane
        = render device_with_type(@area, [1,2])
      #device-curtain.tab-pane
        = render device_with_type(@area, [3])
      #device-temp.tab-pane
        = render device_with_type(@area, [4,5,6])
