<ol class="breadcrumb">
  <li><%= link_to '我的所有项目', buildings_path %></li>
  <li><%= link_to @area.floor.building.name+'('+@area.floor.building.socket_address+')', building_path(@area.floor.building) %></li>
  <li><%= link_to @area.floor.name, building_floor_path(@area.floor.building, @area.floor)%></li>
  <li class="active"><%= @area.name%></li>
  <%= link_to '新建设备', new_building_floor_area_device_path(@area.floor.building, @area.floor, @area), class: 'btn btn-info'%>
</ol>

<table class="table table-striped">
  <tr>
    <th>设备名称</th>
    <th>设备图标</th>
    <th>设备种类</th>
    <th>操作</th>
  </tr>
  <%= render @area.devices %>
</table>