<%= form_for([cam.device.area.floor.building, cam.device.area.floor, cam.device.area, cam.device, cam], html: {role: 'form', class: "form_inline"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label cam.name%>
  </div>
  <div class="field form-group">
    <%= f.label '控制地址'%>
    <%= f.text_field :control_address, placeholder: "控制地址" %>
  </div>
  <div class="field form-group">
    <%= f.label '反馈地址'%>
    <%= f.text_field :status_address, placeholder: "反馈地址" %>
  </div>
  <div class="field form-group">
    <%= f.label '控制类型'%>
    <%= f.select(:control_type, [['1bit', 0],['1byte', 1], ['2byte', 2]]) %>
  </div>
  <%= f.submit "确定", class: "btn btn-primary" %>
<% end %>